*{
  box-sizing: border-box;
}

body{
  font-family: 'Sarabun', sans-serif;
}

header{
  font-family: 'Cuprum', sans-serif;
}

hr{
  border: 1px groove red;
  width: 180px;
}

.spinner-border{
  margin-top: 50px;
  margin-bottom: 100px;
  height: 140px;
  width: 140px;
  background-color: rgba(234,234,234, 0.5);
}

.loading{
  background-color: rgba(234,234,234, 0.5);
}

.data{
  display: none;
}


.img0{
  width: 60px;
  margin-left: 65px;
}

.img1{
  width: 60px;
  margin-left: 65px;
}

.img2{
  width: 60px;
  margin-left: 65px;
}

.img3{
  width: 450px;
  margin-left: 100px;
}

.img7{
  width: 450px;
  margin-left: 100px;
}

.img4{
  width: 60px;
  margin-left: 65px;
}

.img5{
  height: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

span ul{
  line-height: 28px;
}


.gradient{
  color: white;
  background-image: radial-gradient( circle farthest-corner at -1% 57.5%,  rgba(19,170,82,1) 0%, rgba(0,102,43,1) 90% );
  width: 100%;
  min-height: 300px;
}

.btn-success {
  background: rgba(59,178,39, 1);
}



section, article{
  /* background-color: #f3ebe8; */
  /* padding-bottom: 300px;
  padding-top: 2%; */
  padding-top: 2%;
  min-height: 400px;
  background-color: rgba(234,234,234, 0.5);
}

main{
  padding-top: 1%;
  min-height: 600px;
}

.about h2::before, .about h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: red;
  display: inline-block;
}

.about h2::before {
  margin: 0 15px 10px 0;
}

.about h2::after {
  margin: 0 0 10px 15px;
}

.about p{
  margin: 15px 0 0 0;
}

.symptom h1::before, .symptom h1::after {
  content: '';
  width: 50px;
  height: 2px;
  background: red;
  display: inline-block;
}

.symptom h1::before {
  margin: 0 15px 10px 0;
}

.symptom h1::after {
  margin: 0 0 10px 15px;
}

.symptom p{
  margin: 15px 0 0 0;
}

.cure h1::before, .cure h1::after {
  content: '';
  width: 50px;
  height: 2px;
  background: red;
  display: inline-block;
}

.cure h1::before {
  margin: 0 15px 10px 0;
}

.cure h1::after {
  margin: 0 0 10px 15px;
}

.cure p{
  margin: 15px 0 0 0;
}

.site-footer
{
  background-color:#26272b;
  padding:25px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

.fa-heart{
  color: red;
}

.chart-container{
  width: 300;
}

/* Untuk HP */
@media all and (max-width: 670px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .img3{
    width: 300px;
    margin-left: 30px;
  }
  .img7{
    width: 300px;
    margin-left: 30px!important;
  }
  .img5{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .about h2::before, .about h2::after {
    content: '';
    width: 0px;
    height: 0px;
    background: red;
    display: inline-block;
  }
  .about h2::before {
    margin: 0 0px 0px 0;
  }

  .about h2::after {
    margin: 0 0 0px 0px;
  }
  .symptom h1::before, .symptom h1::after {
    content: '';
    width: 0px;
    height: 0px;
    background: red;
    display: inline-block;
  }

  .symptom h1::before {
    margin: 0 0px 0px 0;
  }

  .symptom h1::after {
    margin: 0 0 0px 0px;
  }
  .cure h1::before, .cure h1::after {
    content: '';
    width: 0px;
    height: 0px;
    background: red;
    display: inline-block;
  }

  .cure h1::before {
    margin: 0 0px 0px 0;
  }

  .cure h1::after {
    margin: 0 0 0px 0px;
  }
  .copyright-text
  {
    margin-left: 10px;
  }
  .chart-container{
    width: 360px;
  }
  #card1{
    max-width: 22rem!important;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  #card2{
    margin-left: 15px!important;
    max-width: 22rem!important;
    margin-bottom: 20px;
  }
  #card3{
    margin-left: 0px;
    max-width: 22rem!important;
    margin-bottom: 20px;
  }
  #card4{
    margin-bottom: 20px;
    max-width: 22rem!important;
  }

  .img0{
    width: 60px;
    margin-left: 0px;
  }

  .container-fluid h1{
    margin-top: -40px;
  }

  .container-fluid h3{
    margin-bottom: 30px;
  }

}


/* .col-12 img{
  width: 38px;
} */

/* .hr1{
  width: 150px;
  border-top: 2px solid red;
  margin-left: 60px;
} */

.navbar { background-color: rgba(75,75,75, 1); }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }
